
@font-face {
  font-family: 'Dia-Bold';
  src: url('Dia-Bold.eot?#iefix') format('embedded-opentype'),  url('Dia-Bold.otf')  format('opentype'),
	     url('Dia-Bold.woff') format('woff'), url('Dia-Bold.ttf')  format('truetype'), url('Dia-Bold.svg#Dia-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
