
@font-face {
  font-family: 'Dia-Regular';
  src: url('Dia-Regular.eot?#iefix') format('embedded-opentype'),  url('Dia-Regular.otf')  format('opentype'),
	     url('Dia-Regular.woff') format('woff'), url('Dia-Regular.ttf')  format('truetype'), url('Dia-Regular.svg#Dia-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
